
.c-site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.c-site-header_logo {

	display: inline-block;
	color: $black;

	@media (max-width: $to-medium) {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	@media (min-width: $from-medium) {
		padding-top: em(28px);
		padding-bottom: em(28px);
	}
}

.c-site-header_logo svg {

	fill: currentColor;

	@media (max-width: $to-medium) {
		width: 105px;
		height: 30px;
	}
	@media (min-width: $from-medium) {
		width: 105px;
		height: 30px;
	}
}
